.note-editor {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 24px;
}

.edit-features{
  display: flex;
  align-items: center;
  user-select: none;
  gap: 6px;
  min-height: 30px;
}
.title-input {
  width: 100%;
  padding: 12px 0;
  font-size: 24px;
  font-weight: 600;
  border: none;
  border-bottom: 2px solid #f0f0f0;
  outline: none;
  margin-bottom: 16px;
  color: #333333;

  &:focus {
    border-bottom-color: #4a90e2;
  }

  &::placeholder {
    color: #bbbbbb;
  }
}

.content-textarea {
  flex: 1;
  width: 100%;
  padding: 12px 0;
  font-size: 16px;
  line-height: 1.6;
  border: none;
  outline: none;
  resize: none;
  color: #333333;
  font-family: inherit;

  &::placeholder {
    color: #bbbbbb;
  }
}

.del-note{
  
}