.container1{
    max-width: '800px';
    display: 'flex';
    flex-direction: 'column';
    gap: '2rem';
    margin: '0 auto';
    align-items: 'center';
}
.message{
    font-size: 2rem;
    text-align: center;

}
.hDContainer{
    position: relative;
}
.hD_vertical_height{
    height: 200px;
    width: 10px;
    background-color: #000;
    margin-left: 120px;
}
.hD_horizontal_bottom{
    height: 10px;
    width: 250px;
    background-color: #000;
}
.hD_horizontal_top{
    height: 10px;
    width: 200px;
    background-color: #000;
    margin-left: 120px;
}
.hD_vertical_small{
    height: 50px;
    width: 10px;
    background-color: #000;
    top: 0;
    right: 0;
    position: absolute;
}
.hD_Head{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 10px solid black;
    position: absolute;
    top: 50px;
    right: -30px;
}
.hD_Body{
    width: 10px;
    height: 100px;
    background-color: #000;
    position: absolute;
    top: 120px;
    right: 0;
}
.hD_Arm{
    width: 100px;
    height: 10px;
    background-color: #000;
    position: absolute;
    top: 150px;
    right: -100px;
    rotate: "30deg";
    transform-origin: left bottom;
}

